include utils.pug
+validationErrorSummary(errors)
form
  //- (action="/tags", method="post")
  if locals.authenticated
    input(type='hidden' name='_csrf' value=csrfToken)
    p(id='p-add-errors' style="color:red;")
    +field("", 'inputName')
    div(class='py-4')
      button(type='submit' class='btn btn-primary' id="addTagOrList") Add a #{name}
  else