extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content 
  div(id='wholepage' class="wholepage")
    if !locals.authenticated
      div(id='top-navbar' class='top-navbar')
        span
          a(href='/demo') Demo
        span
          a(href='/about') About
        span
          button
            a(href='/users/login') Login
        span
          button
            a(href='/users/signup') Sign up
    else 
      div(id='top-navbar' class='top-navbar')
        span(class='navbar-text px-4') Welcome #{user.firstName}!
        span
          a(href='/about') My-Cool-Link
        span
          button(method='post')
            a(href='/users/logout') Logout
      div(id='main-body' class='main-body')
        div(id='side-navbar' class='side-navbar')
          p Side Navbar
          button(id="myBtn") Add Tag
          button(id="myBtn1") Add List
        div(id='main-panel' class='main-panel')
          include tasks-view.pug
          div(id="myModal" class="modal")
            //- Modal content
            div(class="modal-content")
              span(class="close") X
              include add-tag-or-list.pug
        div(id='side-panel' class='side-panel')
          p rightside panel

