extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  
  //- add page specific js
  script(src=`/javascripts/index.js` type="module" defer)

block content 
  div(id='wholepage' class="wholepage")
    if !locals.authenticated
      div(id='top-navbar' class='top-navbar')
        div
          a(href='/'): img(src='/images/logo' alt='login' style='width:100px;height:100px;' )      
        span
          a(href='/demo') Demo
        span
          a(href='/about') About
        span
          button
            a(href='/users/login') Login
        span
          button
            a(href='/users/signup') Sign up
    else
      include top-navbar.pug
      div(id='main-body' class='main-body')
        div(id='side-navbar' class='side-navbar')
          div
            a(href='/'): img(src='/images/logo' alt='login' style='width:100px;height:100px;')
          div(class="due-nav nav-ele")
            div(class='inbox' id='inbox') 
              span Inbox
            div(class="inbox-link")
              a(class='timed-list' id='today' href='/lists/today') Today
            div(class="inbox-link")
              a(class='timed-list' id='tomorrow' href='/lists/tomorrow') Tomorrow
            div(class="inbox-link")
              a(class='timed-list' id='this-week' href='/lists/') This Week
          div(class="wrap-collabsible")
            input(id="collapsible" class="toggle" type="checkbox" checked)
            label(for="collapsible" class="lbl-toggle") Lists
            div(class="collapsible-content")
              div(class="content-inner")
                button(id='addListBtn' class="tag-button") +
                button(href='/lists') All
          div(class='tags nav-ele' id='tags')
            div(class="tags-header")
              span(id="tag-span") Tags
              span 
                button(id='addTagBtn' class="tag-button") +
            div(id='list-of-tags-div' class='list-of-tags-class')
        div(id="right-body" class="right-body")
          div(id='main-panel' class='main-panel')
            include tasks-view.pug
            div(id="myModal" class="modal")
              //- Modal content
              div(class="modal-content")
                span(class="close") X
                include add-tag-or-list-pop-up.pug
          div(id='side-panel' class='side-panel')
            p 
          div(id="task-detail-panel" class="panel-hidden")
            div(id="task-info")
              div(id="close-button-panel")
                span(id="close-text") close x
              div(id="task-name-panel")
                input(id="name-panel-text")
              div(id="due-elements" class="panel-elements")
                span(id="due-text-panel" class="panel-text") due
                span(id="due-date-input" style="padding:0px 5px 5px 0px;")
                input(type="date" id="side-due-input" placeholder="due date optional")
              div(id="list-info-panel" class="panel-elements") 
                span(id="list-header-text" class="panel-text") list
                div(id="current-list")
              div(id="tags-div")
                span(id="tags-header-text") tags
                div(id="tags-list")
                select(id='tag-selector')
                  each tag in tags
                    option(value=tag.id id=`option-${tag.id}`) #{tag.name}
            div(id="notes")
              div(id="notes-header") Notes
              div(id="add-a-note")
                input(id="notes-input" placeholder="Add a note...")
                div(id="add-note-button") 
                  span(id="note-button-text") Save
              div(id="notes-list-div")
                ul(id="note-list")

              

