extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content 
  div(id='wholepage' class="wholepage")
    if !locals.authenticated
      div(id='top-navbar' class='top-navbar')
        span
          a(href='/demo') Demo
        span
          a(href='/about') About
        span
          button
            a(href='/users/login') Login
        span
          button
            a(href='/users/signup') Sign up
    else 
      div(id='top-navbar' class='top-navbar')
        span(class='navbar-text px-4') Welcome #{user.firstName}!
        span
          a(href='/about') My-Cool-Link
        span
          button(method='post')
            a(href='/users/logout') Logout
      div(id='main-body' class='main-body')
        div(id='side-navbar' class='side-navbar')
          p Forget Me Not (logo?)
          div(class="due-nav nav-ele")
            div(class='inbox' id='inbox') 
              span Inbox
            div(class="inbox-link")
              a(class='timed-list' id='today' href='/lists/today') Today
            div(class="inbox-link")
              a(class='timed-list' id='tomorrow' href='/lists/tomorrow') Tomorrow
            div(class="inbox-link")
              a(class='timed-list' id='this-week' href='/lists/') This Week
            div(class="inbox-link")
              a(class='timed-list' id='this-month' href='/lists') This Month
          div(class='tasks nav-ele' id='tasks') Tasks
            span
              button(method='post') +
                a(href='')
            div(class='tasks' id='all-tasks')
              button
                a(href='/') All
          div(class='lists nav-ele' id='lists') Lists
            span
              button(method='post' id='addListBtn')
                a(href='/lists') +
            div(class='lists' id='list-names')
              span
                button
                  a(href='/lists') All
          div(class='tags nav-ele' id='tags')
            div(class="tags-header")
              span(id="tag-span") Tags
              span 
                button(id='addTagBtn' class="tag-button") +
                  a(href='')
            div(id='list-of-tags-div' class='list-of-tags-class')
        div(id="right-body" class="right-body")
          div(id='main-panel' class='main-panel')
            include tasks-view.pug
            div(id="myModal" class="modal")
              //- Modal content
              div(class="modal-content")
                span(class="close") X
                include add-tag-or-list-pop-up.pug
          div(id='side-panel' class='side-panel')
            p rightside panel

