extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  div
    ul
      each task in tasks
        li= task.name
      div(id="taskContainer")
      li
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type="text" id="taskName", name=taskName placeholder="Add new task")
        button(type='submit' id="addTask") Add Task

      
      
