doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        meta(name="title" content="Forget Me Not")
        meta(name="description" content="A single page todo app based on Remember The Milk, built without frontend libraries")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://forget-me-not-aa.herokuapp.com/users/login")
        meta(property="og:title" content="Forget Me Not")
        meta(property="og:description" content="A single page todo app based on Remember The Milk, built without frontend libraries")
        meta(property="og:image" content="")
  body
    block content
