div(id='main-task-view-div' class='main-task-view-div')
  div(id='task-top-navbar' class='task-top-navbar')
    div(id="incomplete") Incomplete
    div(id="complete") Completed
  div(id='task-action-bar' class='task-action-bar')
    div(id="checkmark") &#10003
    span(id="mark-complete") Complete
  div(id='list-of-tasks-div' class='list-of-tasks-class')
    div(id='add-a-task-div')
      input(type="text" id='task-name' placeholder="Add a task...")
      div(id="task-add-options")
        div(id="group-date")
          span(id="due-text-enter") due
          input(type="date" id="due-input" placeholder="due date optional")
        div(id="add-task-button")
          span(id="button-text") Add Task
    ul(id="list-of-tasks")