append head
  link(rel="stylesheet" href="/stylesheets/top-navbar.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")  
div(id='top-navbar' class='top-navbar')
  span(class='top-navbar-left-space') 
  span(class="search-container")
    input(type="text" id="searchText" class="searchText-class" placeholder="Search.." name="search")
    button(type="submit" id='searchButton'): i(class="fa fa-search")
  span(class="top-navbar-link-group")
    span(class='top-navbar-link') Welcome #{user.firstName}!
    span(class='top-navbar-link')
      a(href='/about') My-Cool-Link
    span(class='top-navbar-link')
      button(method='post')
        a(href='/users/logout') Logout
    span(class='top-navbar-link')
      i(style="font-size:20px" class="fa fa-gear")
