h1 {
  color: #555555;
}
html {
  overflow: hidden;
}

body {
  font-family: "Segoe UI", "Helvetica";
}

.wholepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #72abd1;
}

.right-body {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  overflow: clip;
}

.main-body {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: rgb(215, 231, 245);
  /* position: relative; */
  height: 100vh;
}
.top-navbar {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background-color: rgb(0, 96, 191);
  padding: 5px;
}

.side-navbar {
  background-color: rgb(215, 231, 245);
  box-sizing: border-box;
  height: auto;
  width: 180px;
  min-width: 180px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgb(191, 217, 241);
}
.main-panel {
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 12px;
  z-index: 1;
}
.side-panel {
  background-color: rgb(228, 238, 248);
  position: absolute;
  width: auto;
  max-width: 51%;
  height: 100%;
  z-index: 1;
  right: 12px;
  top: 12px;
  left: 50%;
  margin-left: -5px;
  /* justify-self: flex-end;
  width: auto; */

  z-index: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.panel-hidden {
  transform: translateX(1500px);
  transition-duration: 1s;
}

.panel-shown {
  transition-duration: 0.6s;
}
#task-detail-panel {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  width: auto;
  max-width: 50%;
  height: 100%;
  z-index: 1;
  right: 12px;
  top: 12px;
  left: 50%;
  border-left: 2px solid rgb(217, 217, 217);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#task-detail-panel {
  display: flex;
  flex-direction: column;
}

#task-info {
  display: flex;
  flex-direction: column;
}

.remove-tag {
  display: flex;
  flex-direction: row;
}

.x-button {
  font-size: 10px;
  cursor: pointer;
}

#close-button-panel {
  align-self: flex-end;
  color: gray;
  margin-top: 10px;
  margin-right: 9px;
  cursor: pointer;
}

#task-name-panel {
  margin-left: 25px;
  margin-bottom: 15px;
  border-left: 3px solid rgb(204, 204, 204);
  padding-left: 6px;
}

#name-panel-text {
  align-self: center;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  width: 80%;
}

#name-panel-text:hover {
  border: 1px solid rgb(190, 190, 190);
}

#name-panel-text:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}

.panel-text {
  color: rgb(155, 155, 155);
  font-size: 13px;
  margin-left: 45px;
  margin-right: 45px;
}

#tags-header-text {
  color: rgb(155, 155, 155);
  font-size: 13px;
  margin-left: 45px;
  margin-right: 38px;
}

#due-elements {
  margin-bottom: 15px;
}

#due-date-input {
  font-size: 14px;
}

#list-info-panel {
  margin-bottom: 6px;
}

#current-list {
  font-size: 14px;
  margin-left: 5px;
}

#task-info {
  border-bottom: 1px dotted rgb(229, 229, 229);
}

#tags-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#notes-header {
  margin-top: 20px;
  padding-left: 14px;
  padding-bottom: 6px;
  border-bottom: 1px dotted rgb(229, 229, 229);
}

#add-a-note {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgb(229, 229, 229);
}

#notes-input {
  align-self: center;
  box-sizing: border-box;
  width: 96%;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
}

#notes-input:hover {
  border: 1px solid rgb(190, 190, 190);
}

#notes-input:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}

#add-note-button.shown {
  background-color: rgb(46, 140, 235);
  width: 75px;
  height: 35px;
  transition: height 0.25s ease-in;
  margin-top: 10px;
  margin-left: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#add-note-button {
  color: white;
  height: 0;
  transition: height 0.5s ease-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#note-button-text {
  font-weight: bold;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 10px;
}

#add-note-button:hover {
  box-shadow: 0px 1px 1px mediumblue;
}

.notes-list-item {
  list-style-type: none;
  font-size: 13px;
  padding: 8px 8px 8px 15px;
  border-bottom: 1px dotted rgb(229, 229, 229);
}

.panel-elements {
  display: flex;
  flex-direction: row;
}

.due-nav {
  display: flex;
  flex-direction: column;
}
.due-nav div {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
}

.list-of-tags-class {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.list-of-tags-class li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
}

#tag-span {
  padding-left: 10px;
}

.left-tag-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-button {
  background-color: rgb(215, 231, 245);
  border: 1px solid rgb(122, 178, 224);
  height: 16px;
  width: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  color: rgb(122, 178, 224);
}

.green-tag {
  height: 12px;
  width: 12px;
  margin-right: 4px;
  background-color: rgb(115, 163, 65);
  border-radius: 2px;
}

.tag-button:hover {
  background-color: rgb(122, 178, 224);
  color: rgb(215, 231, 245);
  cursor: pointer;
}

.tags-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
}

.list-of-tags-class li:hover {
  background-color: rgb(191, 215, 239);
  cursor: pointer;
}

.inbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.due-nav div:hover {
  background-color: rgb(191, 215, 239);
  cursor: pointer;
}

.due-nav a {
  text-decoration: none;
  color: #000;
}

.nav-ele {
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(191, 217, 241);
}

.num-tasks {
  justify-self: flex-end;
  background-color: rgb(200 220 241);
  font-size: 13px;
  padding: 3px;
}

.timed-list {
  color: rgba(0, 0, 0, 0.4);
}

.list-of-tasks-class {
  background-color: white;
  width: auto;
}

#list-of-tasks {
  list-style-type: none;
  box-sizing: border-box;
  border-top: 1px dotted rgb(229, 229, 229);
  height: 100%;
}

#list-of-tasks li {
  position: relative;
  display: flex;
  padding: 5px;
  border-bottom: 1px dotted rgb(229, 229, 229);
  align-items: center;
  height: 32px;
}

#list-of-tasks li.filled {
  cursor: pointer;
  transition-duration: 500ms;
}

#list-of-tasks li.filled:hover {
  transition-duration: 400ms;
  background-color: rgb(255, 255, 214);
}

.left-border {
  width: 3px;
  height: 26px;
  background-color: rgb(204, 204, 204);
  margin-left: 12px;
  margin-right: 6px;
}

.task-check-box:before {
  border-left: 3px solid gray;
  border-right: 3px solid violet;
}

.task-text {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 3px;
}

.date-text {
  font-size: 13px;
  color: grey;
  position: absolute;
  right: 25px;
}

.overdue.date-text {
  color: rgb(234 82 0);
}

.today.date-text {
  color: rgb(0 96 191);
}

#add-a-task-div {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#task-add-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 96%;
}

#group-date {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: center;
}

#due-text-enter {
  height: 0px;
  font-size: 0px;
  transition: height 0.25s ease-out;
}

#due-text-enter.shown {
  height: auto;
  font-size: 15px;
  color: rgb(170, 170, 170);
  margin-left: 15px;
  margin-right: 15px;
  transition: height 0.4s ease-in;
}

#due-input {
  color: white;
  height: 0;
  transition: height 0.25s ease-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: none;
}

#due-input.shown {
  height: 32px;
  color: rgb(170, 170, 170);
  transition: height 0.4s ease-in;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
  cursor: text;
}

#due-input.shown:hover {
  border: 1px solid rgb(190, 190, 190);
}

#due-input.shown:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}

#task-name {
  align-self: center;
  width: 96%;
  height: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
  margin-bottom: 5px;
}

#task-name:hover {
  border: 1px solid rgb(190, 190, 190);
}

#task-name:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}

#add-task-button.shown {
  background-color: rgb(46, 140, 235);
  height: 35px;
  transition: height 0.4s ease-in;
  margin-top: 6px;
  margin-bottom: 6px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#add-task-button {
  color: white;
  height: 0;
  transition: height 0.25s ease-out;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#button-text {
  font-weight: bold;
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 10px;
}

#add-task-button:hover {
  box-shadow: 0px 1px 1px mediumblue;
}

.tag-class {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  font-size: 0.6rem;
  background: rgb(115, 163, 65);
  margin-left: 4px;
  padding: 3px 4px 3px;
  border-radius: 3px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .main-panel {
    transform: translateY(100px);
    transition-duration: 1s;
    width: auto;
    right: 12px;
  }

  .side-panel {
    left: 6px;
    /* transition-duration: 0.75s; */
    border-top-left-radius: 6px;
    height: 100px;
    max-width: 100%;
    width: auto;
  }
  #task-detail-panel.panel-shown {
    position: fixed;
    max-width: 100%;
    left: 209px;
    top: 52px;
    right: 12px;
    transition-duration: 0s;
  }
}

@media screen and (min-width: 1001px) {
  .main-panel {
    transition-duration: 0.75s;
  }
}
