h1 {
  color: #555555;
}
html {
  overflow: hidden;
}

.wholepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #72abd1;
  height: auto;
}

.right-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  overflow: clip;
}

.main-body {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: rgb(215, 231, 245);
  position: relative;
  height: 100%;
}
.top-navbar {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background-color: rgb(0, 96, 191);
  padding: 5px;
}

.side-navbar {
  background-color: rgb(215, 231, 245);
  box-sizing: border-box;
  width: 180px;
  min-width: 180px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgb(191, 217, 241);
}
.main-panel {
  background-color: white;
  width: 50%;
  min-width: 500px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 12px;
  z-index: 1;
}
.side-panel {
  background-color: rgb(228, 238, 248);
  width: 50%;
  /* justify-self: flex-end;
  width: auto; */
  margin: 12px 12px 12px -2px;
  z-index: 0;
  padding-left: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  max-height: 100vh;
}

.due-nav {
  display: flex;
  flex-direction: column;
}
.due-nav div {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
}

.list-of-tags-class {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.list-of-tags-class li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
}

#tag-span {
  padding-left: 10px;
}

.tag-button {
  background-color: rgb(215, 231, 245);
  border: 1px solid rgb(122, 178, 224);
  color: rgb(122, 178, 224);
}

.tag-button:hover {
  background-color: rgb(122, 178, 224);
  color: rgb(215, 231, 245);
  cursor: pointer;
}

.tags-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-of-tags-class li:hover {
  background-color: rgb(191, 215, 239);
  cursor: pointer;
}

.inbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.due-nav div:hover {
  background-color: rgb(191, 215, 239);
  cursor: pointer;
}

.due-nav a {
  text-decoration: none;
  color: #000;
}

.nav-ele {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(191, 217, 241);
}

.num-tasks {
  justify-self: flex-end;
  background-color: rgb(200 220 241);
  font-size: 13px;
  padding: 3px;
}

.timed-list {
  color: rgba(0, 0, 0, 0.4);
}

.list-of-tasks-class {
  background-color: white;
  width: auto;
}

#list-of-tasks {
  list-style-type: none;
  box-sizing: border-box;
  border-top: 1px dotted rgb(229, 229, 229);
  height: 100%;
}

#list-of-tasks li {
  position: relative;
  display: flex;
  padding: 5px;
  border-bottom: 1px dotted rgb(229, 229, 229);
  align-items: center;
  height: 30px;
}

#list-of-tasks li.filled {
  cursor: pointer;
}

#list-of-tasks li.filled:hover {
  transition-duration: 400ms;
  background-color: rgb(255, 255, 214);
}

.task-text {
  font-size: 15px;
  margin-left: 15px;
}

.date-text {
  font-size: 13px;
  color: grey;
  position: absolute;
  right: 25px;
}

.overdue.date-text {
  color: rgb(234 82 0);
}

.today.date-text {
  color: rgb(0 96 191);
}

#add-a-task-div {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#task-name {
  /* background-color: white; */
  align-self: center;
  width: 96%;
  height: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
}

#task-name:hover {
  border: 1px solid rgb(190, 190, 190);
}

#task-name:focus {
  outline: none;
  border: 1px solid rgb(50, 149, 255);
  border-radius: 2px;
}

#add-task-button.shown {
  background-color: rgb(46, 140, 235);
  height: 35px;
  max-height: 35px !important;
  transition: max-height 0.25s ease-in !important;
  margin: 6px;
  margin-right: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#add-task-button {
  color: white;
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
  display: flex;
  align-content: center;
}

#button-text {
  font-weight: bold;
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
}

#add-task-button:hover {
  box-shadow: 0px 1px 1px mediumblue;
}

.tag-class {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  font-size: 0.6rem;
  background: rgb(115, 163, 65);
  margin-left: 10px;
  padding: 1px 4px 2px;
  border-radius: 3px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
