h1 {
  color: #555555;
}
.wholepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #72abd1;
}
.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-navbar {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.inbox {
  display: flex;
  flex-direction: column;
}
.timed-list {
  color: rgba(0, 0, 0, 0.4);
}

.list-of-tasks-class {
  background-color: seashell;
  border: 2px solid grey;
  border-radius: 5px;
  width: 600px;
}

#list-of-tasks {
  list-style-type: none;
  box-sizing: border-box;
}

#list-of-tasks li {
  padding: 5px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

#add-a-task-div {
  border-bottom: 1px solid lightgray;
}

.tag-class {
  box-sizing: border-box;
  color: white;
  font-size: 0.75em;
  background: green;
  margin-left: 10px;
  border-radius: 2px;
}
